.container-register {
    width: 40vw;
    background-color: aquamarine;
    border-radius: 12px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}